*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  html,
  body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('/src/Images/BB.jpg');
  }
  
  .header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.75rem;
  }
  
    
  .cardd{
    cursor: pointer;
    height: 400px;
    width:300px;
    /* border: solid 2px green; */
  }
  
  
  .cards1{
    margin-left: -70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.7rem;
    /* padding: 0rem; */
    padding-top: 2rem;
    grid-row-gap: 5.5rem;
  }
  
  .search {
    height: 90px;
    padding-top: 20px;
  }
  
  input[type='text'] {
    display: block;
    padding: 10px;
    font-size: 20px;
    border: 0;
    border-radius: 7px;
    width: 60%;
    margin: auto;
    outline: none;
  }
  

  .card-img .h1{
       text-align: center;
       color: white;
       border-bottom: solid yellow;
       border-radius: 1rem;
       font-size: 30px;
       background: transparent;
       width: 100%; 
       }
  
  .card-img .h1:hover{
    background: linear-gradient(green,#006400,#00FF7F,#00FF00	);
    color: black;
  }
  
  .card-img img{
    width: 100%;
    height: 380px;
    object-fit: cover;
  }
  
  .card-hover{
    position: relative;
    width: 100%;
    height: 97%;
   }
  
  .card-img, .cardinfo{
    position: absolute;
    width: 100%;
    height: 380px;
  }
  
  .cardinfo{
    background-color: black;
    visibility: hidden;
    padding-top: 10px;
    opacity: 60%;
    
  }
  
  .card-hover:hover .cardinfo{
    visibility: visible;
  }
  .cardinfo:hover h1{
    color: aqua;
    } 
  
  
  .cardinfo h1{
    font-size:25px;
    text-align: center;
    color: white;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
     padding-top: 10px;
  }
  
  .cardinfo li{
    list-style: none;
    padding-bottom: 12px;
    padding-top: 10px;
    padding-right: 25px;
    text-align: center;
    color: yellow;
    font-weight: 600;
    font-size: 19px;
  }
  
  
  
  @media (max-width: 800px) {
    .cards1 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .cards1 {
      grid-template-columns: 1fr;
    }
    .cardd img {
      width: 100%;
      height: 300px;
      object-fit: contain;
    }
  }
  
  nav .pagination{
    margin: 150px;
    height: 40px;
    width: 700px;
  
   
  }
  
  .page-item{
     width: 500px;
     height: 40px;
     border: solid 1px yellow;
    
    }
  
    .page-link{
      height: 40px;
      text-align: center;
      color: rgb(65, 65, 68);
      font-size: large;
      font-weight: bolder;
    }
  
  
  #details .btn{
    margin-left: 460px;
    border: solid 2px whitesmoke;
    color: black;
    font-weight: bolder;
    font-size: large;
    border-radius:10px;
    background: blue;
  }
  
  .mt{
   padding-left: 450px;
   color: white;
  }
  
  .mh,.mf,.mb{
    background-image: url('/src/Images/BB.jpg');
  }
 
  Table tr{
    height:4rem;
  }
  
  Table{
    margin-top: 15px;
  }
  
   Table td{
    color: white;
    font-size: 20px;
    font-weight: bolder;
    
  }
  
  Table th{
    color: yellow;
    font-size: 20px;
  
  }